@use "./reboot";
.container {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 3px solid green;
  background: transparent;
  transition: 0.5s;
  transform: translate(0, 0);
  transition-timing-function: ease-out;
  min-height: 15px;
  min-width: 15px;
}
